<?php

require_once 'vendor/autoload.php';
require_once 'classes/Url.php';
require_once 'classes/Request.php';
require_once 'includes/functions.php';

ref::config('maxDepth', 5);

use Doctrine\ORM\Tools\Setup;
use Doctrine\ORM\EntityManager;

$isDevMode = false;

$dbParams = array(
    'driver'   => 'pdo_mysql',
    'user'     => 'user',
    'password' => 'password',
    'dbname'   => 'dbname',
    'charset'  => 'utf8'
);

$config = Setup::createAnnotationMetadataConfiguration(array(__DIR__ . '/src'), $isDevMode);
$entityManager = EntityManager::create($dbParams, $config);